# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
RVisuals/.Rproj.user/D4B6EF27/sources/prop/712F7F80
RVisuals/.Rproj.user/D4B6EF27/sources/prop/INDEX
RVisuals/.Rproj.user/D4B6EF27/sources/s-4528E26C/3DDE6BB5
RVisuals/.Rproj.user/D4B6EF27/sources/s-4528E26C/3DDE6BB5-contents
RVisuals/.Rproj.user/D4B6EF27/sources/s-4528E26C/lock_file
RVisuals/.Rproj.user/shared/notebooks/patch-chunk-names
RVisuals/.Rproj.user/shared/notebooks/paths
.vs/PerformanceTest/DesignTimeBuild/.dtbcache.v2
.vs/PerformanceTest/v16/.suo
RVisuals/.Rproj.user/D4B6EF27/pcs/files-pane.pper
RVisuals/.Rproj.user/D4B6EF27/pcs/source-pane.pper
RVisuals/.Rproj.user/D4B6EF27/pcs/windowlayoutstate.pper
RVisuals/.Rproj.user/D4B6EF27/pcs/workbench-pane.pper
RVisuals/.Rproj.user/D4B6EF27/rmd-outputs
RVisuals/.Rhistory
RVisuals/.Rproj.user/D4B6EF27/saved_source_markers
RVisuals/.Rproj.user/D4B6EF27/sources/per/t/3DDE6BB5
RVisuals/.Rproj.user/D4B6EF27/sources/per/t/3DDE6BB5-contents
